* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "roboto", sans-serif;
    margin: 0%;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: orange;
}

button:hover {
    background-color: rgba(255, 131, 51);
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: blueviolet;
}

header {
    background-color: rgb(245, 245, 245);
}

header .logo {
    margin: 0%;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: blueviolet;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vb;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("media/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: white;
}

#hero button {
    font-size: 1.7em;
}

#Colombians .container {
    text-align: center;
    padding: 200px 12px;

}




#Four-reasons {
    background-color: rgba(30, 30, 30);
    color: white;
    text-align: center;
}

#Four-reasons .container {
    padding: 100px 0px;
}

#Four-reasons h2 {
    margin-top: 0%;
    font-size: 3.2em;
}

#Four-reasons p {
    display: none;
}

#Four-reasons .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("media/coffee.jpg");


}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("media/frutas.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("media/sopas.jpg");
}

.carta:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("media/empanadas.jpg");
}

#Feeling .container {
    text-align: center;
    padding: 200px 12px;
}

#Feeling li {
    margin: 15px 0px;
    font-weight: bold;
}

#ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30, 30, 30);
    color: white;
    height: 80vh;
}

#ready h2 {
    font-size: 9vw;
}

#ready button {
    font-size: 5vw;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0%;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}